::placeholder { 
    color: #929EB6;
    opacity: 1; 
  }

 .page-one h2{
    color: rgb(85, 85, 219);
    font-size: 30px;
    margin-top: 80px;
    text-align: center;
  }

  .page-two p{
    margin-bottom: 20px;
  }

 .measure {
    border: none;
  }
