
.about-page {
    max-width: 80%;
    margin: 0 auto;
    padding: 30px 20px;
  }

.about-page h1{
    margin-top: 40px;
    font-size: 70px;
    color: white;
}

.about-page p{
    font-size: 20px;
    line-height: 1.7;
    margin-top: 10px;
    color: white;
}
  
  .team-section {
    margin-top: 50px;
  }
  
  .team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    color: white;
  }
  
  .team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
  }
  
  .team-member h3 {
    margin: 0;
  }
  
  .team-member p {
    font-style: italic;
    margin: 5px 0 0;
  }