.faq-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px;
    color: white;
  }
  
  .faq-page h1{
    font-size: 50px;
    margin-bottom: 40px;
  }

  .accordion-item {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;

  }
  
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding: 0 20px 20px 20px;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .accordion-item.active .accordion-content {
    max-height: 1000px;
    transition: max-height 0.2s ease-in;
  }